<div class="inva c-50 pad-x">
  <div class="signup-quote lg-txt-w m-no-m-y" style="margin-top:20%;">
    Hospital Signup
    <div class="f17 lh30 thin">
      Hospitals can manage incoming patients efficiently with RescueLine. Doctors will have access to critical info on incoming patients, such as blood type and injuries. Hospitals can also share important info with coordinators and responders, such as hospital capacity.
    </div><br>
  </div>
</div><div class="inva c-50 tr m-tc">
  <div class="signup-box inva rounded bg-white pad tc m-no-m-y" style="height:405px;margin-top:1%;">
    <h1 style="margin:5px 0px;" class="roboto-thin">SIGN UP</h1>
    <form id="signup_form">
    <input name="name" type="text" class="line-input" placeholder="Full name" required >
    <input id="username" name="username" type="text" class="line-input" placeholder="Choose a login username" required >
    <input name="pass" pattern=".{6,}" type="password" class="line-input" placeholder="New password" required>
    <input name="code" type="text" class="line-input" placeholder="Hospital code" required>
    </form>
    <div id="signup_go" class="bt-lg bg-light cl-white" style="margin-top:20px;">SIGN UP</div>
  </div>
</div>
<script>
   var signup = new SignupHandler('hospital');
</script>
