<div class="inva c-50 pad-x">
  <div class="signup-quote lg-txt-w m-no-m-y" style="margin-top:15%;">
    Responder Signup
    <div class="f17 lh30 thin">
      First Responders can be much more efficient with RescueLine. Responders will be able to communicate directly with emergency coordinators, hospitals, and other first responders. You will also be able to get on the fly news, and be assigned new tasks whenever you're free.
      <br><img class="ios-and-badges" src="/assets/badges.png"/>
    </div>
  </div>
</div><div class="inva c-50 tr m-tc">
  <div class="signup-box inva rounded bg-white pad tc m-no-m-y" style="height:405px;margin-top:1%;">
    <h1 style="margin:5px 0px;" class="roboto-thin">SIGN UP</h1>
    <form id="signup_form">
      <input name="name" type="text" class="line-input" placeholder="Full name" required >
      <input id="username" name="username" type="text" class="line-input" placeholder="Choose a login username" required >
      <input name="pass" pattern=".{6,}" type="password" class="line-input" placeholder="New password" required>
      <input name="code" type="text" class="line-input" placeholder="Organization code" required>
    </form>
    <div id="signup_go" class="bt-lg bg-light cl-white" style="margin-top:20px;">SIGN UP</div>
  </div>
</div>
<script>
   var signup = new SignupHandler('responder');
</script>
