<h1 class="blog-heading center-text"> How to save yourself during avalanche</h1>

<h3 class="blog-heading">1. Be a Beacon</h3>
<p class="blog-text">You can take one huge step toward survival before you ever set foot on a mountain. Buy and wear an avalanche beacon, a small radio that will transmit your location to rescue crews.</p>

<h3 class="blog-heading">2. Stay On Top</h3>
<p class="blog-text">“Swimming” to the top of the avalanche will help avoid being trapped under debris, which is solid advice. However, you don’t have to be as graceful as an Olympic freestyle champ. If “swimming” is too tough, “violently thrashing around so you don’t sink” will suffice. Just do whatever it takes to stay on top of the sliding cascade.</p>

<h3 class="blog-heading">3. Reach for the Sky</h3>
<p class="blog-text">This may be easier said than done, but try to keep one arm above your head as the avalanche tosses you around. The benefit of this maneuver is twofold: it will be easier for rescuers to spot you if your hand is sticking out of the snow, and with any luck, you’ll know which direction is up, a huge help as you try to dig out.</p>

<h3 class="blog-heading">4. Get Spitting</h3>
<p class="blog-text">Normally, it’s bad manners to spit. But if you’ve been trapped under an avalanche, spitting can save your life. As soon as you stop moving, quickly work to open a space in front of your face. Not only will this pocket give you room to breathe, it will give you space to spit. Note where gravity carries your spit, then dig in the opposite direction.</p>

<h3 class="blog-heading">5. Remain Calm</h3>
<p class="blog-text">The natural instinct for anyone buried by an avalanche is to get pretty nervous, but if you can keep your head, you can stay alive. In most cases, victims have a 15-minute window in which they can carve out areas to breathe under the snow. Panicking will speed your breath and shorten your window, so calmly work on digging your way out. If you’ve worn your beacon, rescue workers will hopefully be on the way, and you’ll get pulled out of the mess.</p>

