<h1 class="blog-heading center-text"> How to save yourself during fire</h1>
<p class="blog-text">
	<p class="blog-text">Firstly, always find out where the nearest emergency exit is as well as where the fire extinguishers are in the restaurant you’re visiting.</p>
	<ol class="blog-text">
		<li>Ask the owner if the exit is locked and how you can unlock it in case of an emergency. Make sure the exit is marked properly, and if not, tell the owner to do so. You can always report them for flouting basic fire safety measures.</li>

		<li>In case a fire breaks out, call 101 immediately. The sooner you call, the shorter will be the response time.</li>

		<li>If there is no smoke, walk quickly to the nearest exit. If there is light smoke, you will have to crawl to the nearest exit. Never go to the roof; always try your best to go down and out of the building.</li>

		<li>Don’t ever go for the elevator. It could malfunction because of the fire, leaving you stuck with no way to escape.</li>

		<li>The worst case scenario is if the fire is too big and you can’t evacuate. The women who decided to escape to the washroom at the 1Above restaurant died of suffocation. If the washroom is your only escape, try to wet clothing or towels and stuff them around cracks in doors and seal up vents. The idea is not to let the smoke enter.</li>

		<li>Wet all the walls, doors and windows and keep a wet cloth over your nose and mouth. Breathe through your nose only.</li>

		<li> Don’t attempt to break the windows as you will attract more smoke and flames from outside. Crack open the window if you need fresh air, but close it immediately.</li>

		<li>Most importantly, be calm and wait to be rescued.</li>
	</ol>
	<p class="blog-text">With a thorough knowledge of emergency procedures, you can increase your chances of survival when stuck in such a situation</p>
</p>