<h1 class="blog-heading center-text">How to save yourself during sandstorm</h1>
<h2 class="blog-heading">How to survive a sandstorm in a car</h2>
<ul>
	<li>
		<h3 class="blog-heading">Get off the road quickly</h3>
		<ul>
			<li><p class="blog-text"><p class="blog-text">If you are in a car and a sandstorm gets the drop on you, it can put you in a very dangerous situation. Your visibility can be reduced to virtually nothing, and it’s not just yourself that your going to have to worry about. All the other clowns on the road can be particularly dangerous, if visibility is poor, they are less likely to see you.</p></li>

			<li><p class="blog-text">The advice is to make your way off the road at the next safe opportunity, park up on the side, and turn all your lights off. Sounds a bit crazy that to avoid getting hit accidentally, you  need to make yourself less visible, but other drivers can be drawn to your headlights like moths to the flame.</p></li>

			<li><p class="blog-text">If your car is there, then that must be where the road goes, right? And so it is likely for people follow your lights and crash into you.</p></li>
		</ul>
	</li>
	<li><h3 class="blog-heading">Wait it out</h3>
		<ul>
			<li><p class="blog-text">Once you are safely off the road and your lights are off, its time to close all your windows, any vent that brings in air from outside and sit back, relax, and relish the prospect of telling your mates you were in a sandstorm.</p></li>
		</ul>
	</li>
</ul>
<h2 class="blog-heading">How to survive a sandstorm on foot</h2>
<ul>
	<li>
		<h3 class="blog-heading">Take cover</h3>
		<ul>
			<li>
				<p class="blog-text">If you get caught in a sandstorm while you are out and about on your treks, find the nearest big land form, such as a rock, and take shelter by the side of it. If you are unable to find a shelter quick enough, stay put and do not move. By moving you will put yourself at greater risk from potential hazards, plus you may get yourself lost. If you are in a large group link arms to keep together and prevent anyone from getting separated.</p>
			</li>
		</ul>
		<h3 class="blog-heading">Use your equipment</h3>
		<ul>
			<li>
				<p class="blog-text">Remember the first point I said about preparation? Now is the time to put it to good use. Protect your eyes and mouth by wearing the goggles and mask, try and cover your ears to prevent sand blowing into them. It is likely to be extremely dry in a sandstorm so it is worth applying petroleum jelly in  your nostrils to prevent them from drying. Wearing long clothing will prevent your skin from getting ripped apart, the sand being blown against your skin will feel like someone giving you a rubdown with some coarse sandpaper.</p>
			</li>
		</ul>
		<h3 class="blog-heading">Caught unaware</h3>
		<ul>
			<li>
				<p class="blog-text">Remember the first point I said about preparation? Now is the time to put it to good use. Protect your eyes and mouth by wearing the goggles and mask, try and cover your ears to prevent sand blowing into them. It is likely to be extremely dry in a sandstorm so it is worth applying petroleum jelly in  your nostrils to prevent them from drying. Wearing long clothing will prevent your skin from getting ripped apart, the sand being blown against your skin will feel like someone giving you a rubdown with some coarse sandpaper.</p>
			</li>
		</ul>
		<h3 class="blog-heading">Beware of...</h3>
		<ul>
			<li>
				<p class="blog-text"><p class="blog-text">Sandstorms can happen in unison with thunder storms, so be prepared to experience lightening, and take any measures that will help avoid a lightening strike. The high winds can pick up more than just sand, so protect your head and be on the lookout for large flying objects, the last thing you want is to be knocked out by a flying tree stump.</p>
				<p class="blog-text">After you have followed all of these steps, the only thing you can do is wait it out. A game of eye spy is always fun in a sandstorm, but you might run out of things to spy after the first go</p>
			</li>
		</ul>
	</li>
</ul>