<h1 class="blog-heading center-text"> How to save yourself during tsunami</h1>

<h3 class="blog-heading">Be Prepared</h3>
<p class="blog-text">Most tsunamis are triggered when earthquakes near the seafloor displace a large amount of water. That water gets pushed out as a series of waves that move outwards in all directions. Undersea volcanic eruptions, landslides, and even meteorites can also spark tsunamis.</p>
<p class="blog-text">
	Out on the sea, these waves can be hundreds of miles long but no taller than a few feet and travel at the speed of a jet plane, up to 500 miles per hour. When the waves approach land, they will slow to about 20 or 30 miles an hour and begin to grow in height.Most tsunamis are less than 10 feet high when they hit land, but they can reach more than 100 feet high. When a tsunami comes ashore, areas less than 25 feet above sea level and within a mile of the sea will be in the greatest danger. However, tsunamis can surge up to 10 miles inland.
</p>

<h3 class="blog-heading">Get to high ground</h3>
<p class="blog-text">If you happen to be on a boat in the open ocean, stay there. Otherwise, your best course of action depends on how much time you have before the tsunami arrives.

	Your goal, assuming you're on land, is to evacuate away from the coast. Try to reach someplace 100 feet above sea level or two miles away from the ocean.

If you’re lucky, the tsunami will have been caused by an earthquake far away and won’t arrive for several hours. Take a disaster kit if you have one on hand, and bring your pets with you. If you aren’t sure where to go, there may be evacuation signs you can follow. But pay attention to any instructions from emergency personnel, since they may recommend a different evacuation route than you were planning to take.</p>

<h3 class="blog-heading">Stay up for a while</h3>
<p class="blog-text">As mentioned earlier, a tsunami is a series of waves. This means that a tsunami is not made up of only one wave. A tsunami will come in the form of a series of waves hitting dry land at different time intervals. Normally, a tsunami can last up to two or three days. To ensure that you are completely safe, you should stay on higher ground for two to four days just to be sure.</p>

<h3 class="blog-heading">Be cautious</h3>
<p class="blog-text">In recent times, tsunami detection systems have suffered greatly from vandalism activities especially in developing countries. This has led to poor detection and warning system that guarantee little protection against the onslaught of a tsunami. Thus it is important for you to be cautious when making the decision to go back to your home. Listen to all alerts and all clear messages being sent. Do not go back down immediately after these announcements as in some cases people have died as a result of inaccurate tsunami all clear messages.</p>

<h3 class="blog-heading">Know the area</h3>
<p class="blog-text">This is essentially for tourists and visitors who are fond of tsunami prone destinations such as the American coastal town of New Orleans. Before making the decision to travel to such destinations it is important to know which areas is more tsunami prone. Areas of low sea level are more susceptible to tsunamis. Thus when travelling to these areas try and stay clear off low sea level regions.</p>

