
<h1 class="blog-heading center-text">How to save yourself during tsunami</h1>
<h3 class="blog-heading">Assess your Volcano Risk</h3>
<p class="blog-text">Learn about eruption risks in your area by visiting the United States Geological Survey (USGS) Volcano Hazards Program , which posts up-to-date information about volcanic activity, including a color-coded risk assessment system for individual volcanoes.
</p>
<h3 class="blog-heading">Plan Ahead</h3>
<p class="blog-text">Good volcano safety planning begins before an eruption actually occurs. Help prepare your family by creating a disaster preparedness plan that includes a disaster survival kit and an emergency evacuation plan. Airborne and accumulated ash is a major volcano hazard, so be sure to include goggles and disposable breathing masks in your disaster kit. Also, the hot gases and debris from an eruption can increase the risk of fire, so it's especially important to install and maintain smoke alarms and fire extinguishers in homes within the 20-mile danger zone.
</p>
<h3 class="blog-heading">Clear the Volcanic Danger Zone</h3>

<p class="blog-text">The first thing to do during an eruption is tune in to up-to-the-minute information on a battery-powered radio. Volcanoes can produce a number of quickly moving hazards, including flying debris, hot gases, lava, and mudslides. If authorities issue an evacuation order, collect your family and your disaster kit, and leave the area immediately. During an evacuation, try to avoid valleys and low-lying areas where flowing hazards, such as mudslides, might converge and accumulate. If there is ash buildup on the roadway, keep your speed below 35 miles per hour to avoid slipping.
</p>
<h3 class="blog-heading">Protect Against Volcano Ash:</h3>

<p class="blog-text">Airborne and accumulated ash can significantly impact places as far as 100 miles from an eruption. Whenever ash is present, breathe through your emergency mask or hold a damp cloth over your nose and mouth. Protect your eyes with goggles. It's also a good idea to wear long pants and a long-sleeved shirt, because ash may be hot or otherwise irritate the skin. If your home lies within an ash fallout zone, take steps to keep as much ash as possible from entering the building. This includes closing and/or blocking all exterior windows, doors, chimneys, and vents. Place towels under the door and in other gaps. As an added precaution, you may want to cover interior items such as furniture, appliances, and sensitive electronic equipment. Cover exterior and garaged vehicles, as well.
</p>
