<link href="/css/changes.css" rel="stylesheet">
<script src="/js/missing.js" type="text/javascript"></script>
<!-- Form for reporting missing person -->
<div class="block bg-grad-green" style="height:100%;">
  <div class="width_wrapper center-text">
    <div class="signup-box inva rounded bg-white pad tc">
      <h1 style="margin:5px 0px;" class="roboto-thin">Report a missing person</h1>
      <div class="dash-profile-pic inva">
          <span class="v-align"></span><img id="profile_img" class="invm" src="/assets/placeholder.jpg" style="width:100%;" />
          <form id="missing_pic_form" enctype="multipart/form-data">
            <input id="missing_pic" name="missing_pic" type="file" style="display:none;"/>
          </form>
          <div class="dash-profile-pic-edit cl-white tc"><label for="missing_pic" class="inva wh100 cp"><i class="fas fa-edit"></i> Change</label></div>
        </div>
      <form id="missing_form">
        <input name="email" type="email" class="line-input" placeholder="Please enter your email here" required>
        <input name="address" type="text" class="line-input" placeholder="Last sighted location" required>
        <input name="name" type="text" class="line-input" placeholder="Name of missing person" required>
      </form>
      <br>

      <button class="bt-lg bg-light cl-white" type="submit" id="submit_btn" form="missing_form" value="Submit">Submit</button>
      <!-- <div id="submit_btn" class="bt-lg bg-light cl-white">Upload photo and search</div> -->
    </div>
  </div>
</div>
