.dash-header {
  height: 70px;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 200;
  line-height:70px;
}
.dash-logo {
  height:40px;
  position:absolute;
  left:38px;
}
.dash-container {
  width:100%;
  height:90%;
  padding-left:200px;
  position:relative;
  text-align: left;
  overflow-y: scroll;
 -webkit-overflow-scrolling: touch;
}
.dash-sidebar {
  width:180px;
  height:100%;
  position:fixed;
  padding-top:90px;
  top:0;
  left:0;
  z-index: 101;
  transition: width .5s;
}
.dash-side-group {
  position:absolute;
  height:100%;
  width:90px;
  top:0;
  right:2.5%;
}
.dh-profile {
  right: 0px;
  width:40px;
  height:40px;
  overflow: hidden;
  border-radius: 50%;
  cursor:pointer;
}
#dh_noti {
  right: 65px;
  height:18px;
  width:18px;
}
.ds-item {
  height:45px;
  line-height:45px;
  padding-left:20px;
  text-align: left;
  color:#fff;
  cursor:pointer;
  white-space: nowrap;
}
.ds-toggle {
  left: 190px;
  font-size:20px;
  height:20px;
}
.ds-item>i {
  display:inline-block;
  margin-right:20px;
}
.ds-active {
  background-color: #209e91 !important;
}
.dash-grid {
  width:100%;
  height:auto;
}
.grid-item {
  width: 47%;
  height: 415px;
}
.gi-mini {
  width:23%;
  height:200px;
}
.gi-mini>.gi-head {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
}
.gi-mini>.gi-body {
  height: calc(100% - 40px);
}
.gi-close {
  width:18px;
  height:18px;
}
.gi-head {
  height:50px;
  border-bottom: 1px solid #e6e6e6;
  font-size:17px;
  line-height: 50px;
  padding:0px 20px;
  width:100%;
  cursor:move;
}
.gi-body {
  height: calc(100% - 50px);
  width:100%;
  padding:10px;
  display:flex;
  align-items: center;
}
.gih-options {
  position:absolute;
  top:0;
  right:0;
  height:50px;
  padding-right:10px;
  font-size:12px;
}
.gih-options>i {
  margin-right:8px;
}
.gih-options>i:last-child {
  margin-right:0px !important;
}
.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  background: #fafafa;
  z-index: 2;
}
.packery-drop-placeholder {
  outline: 2px dashed #777;
  outline-offset: -6px;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}
.feed-item {
  min-height:75px;
  width:100%;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.feed-item:last-child {
  border-bottom: none;
}
.feed-item>img {
  height:55px;
  width:55px;
  border-radius: 50%;
  margin-right:15px;
}
.fi-i {
  height:30px;
  width:30px;
  color:#656565;
}
.fi-i>i {
  height:15px;
  width:15px;
  font-size: 15px;
}
.fi-info {
  margin-top:2px;
  height:55px;
  line-height: 18px;
  width: calc(100% - 130px);
  overflow: hidden;
}
.fi-description {
  font-size:12px;
}
.fi-details {
  height:0px;
  overflow:hidden;
}
.fi-details>div:first-child {
  margin-top:7px;
}
.fi-details>div {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 8px;
  margin: 5px;
  line-height: 18px;
  background-color: #fff;
}
.fi-details>div span {
  font-weight:300;
}
.prio-red {
  background-color: rgba(255,0,0,0.03);
  border-left: 2px solid rgb(255, 170, 170);
}
.prio-yellow {
  background-color: rgba(255,255,0, 0.07);
  border-left: 2px solid rgb(255,235,0);
}
.Blink {
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  font-size:8px;
  color:#0085ff;
}
@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}
.dash-view {
  position: relative;
  display: none;
  min-height: 100%;
  width: 100%;
}
.active-view {
  display: block !important;
}
.underline {
  text-decoration: underline;
}
.dash-profile-pic {
  width:180px;
  height:180px;
  overflow: hidden;
  border-radius:50%;
  position: relative;
  border:1px solid #eee;
  background-color:#fff;
}
.dash-profile-pic-edit {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 35px;
}
.dash-profile-info {
  width:100%;
  margin-top: 20px;
}
.dash-drop {
  left:-80px;
  width:170px;
  line-height:20px;
  height:50px;
  bottom:-45px;
}
.add-view-drop {
  top:25px;
  right:30px;
}
.basic-drop {
  width: 140px;
  height: auto;
  border: 1px solid #eee;
  border-radius:4px;
  font-size:12px;
  z-index: 101;
  display: none;
}
.basic-drop>div {
  height:30px;
  width:100%;
  line-height: 30px;
}
.basic-drop>div {
  border-bottom: 1px solid #f2f2f2;
}
.basic-drop>div:last-child {
  border-bottom:none;
}
.noti-block {
  height: 55px;
  border-left: 2px solid #209e91 !important;
  margin-bottom: 4px;
  line-height: 12px;
  font-size: 11px;
  padding: 7px 5px 0px 10px;
}
#location_prompt>div {
  width:320px;
  height:400px;
}
#prompt_map {
  height:300px;
}
#prompt_map canvas {
  left:0;
  top:0;
}
.share-box {
  width:320px;
  height:300px;
  background-color: #fff;
}
.share-box>.gi-head {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
}
.share-box>.gi-body {
  height: calc(100% - 88px);
}
.share-message {
  width:100%;
  height:48px;
}
.share-message>input {
  margin-top:0px;
  border: none;
  border-bottom:1px solid #e0e0e0;
  font-size:12px;
}
.share-box>.gi-body {
  padding-top:0px;
}
.share-box .ch-item {
  border-bottom: 1px solid #e0e0e0;
}

/* MOBILE RESPONSIVE < 1000px */
@media only screen and (max-width: 1000px) {

  .gi-mini {
    width:47% !important;
    height:200px;
  }

} /* END MOBILE RESPONSIVE < 1000px */


/* MOBILE RESPONSIVE < 700px */
@media only screen and (max-width: 700px) {

.ds-toggle {
  left:10px;
}
.dash-logo {
  left: 0px;
  right: 0px;
  margin: auto;
}
.dash-sidebar {
  width:180px !important;
  height:100%;
  position:fixed;
  padding-top:90px;
  top:0;
  left:-180px;
  transition: width .5s , left .5s;
}
.ds-item span {
  display:inline-block !important;
}
.dash-container {
  padding-left:20px !important;
}
.grid-item {
  width: 100% !important;
  height: 415px;
}
.gi-mini {
  width:47% !important;
  height:200px;
}

} /* END MOBILE RESPONSIVE < 700px */

/* MOBILE RESPONSIVE < 500px */
@media only screen and (max-width: 500px) {

  .gi-mini {
    width:100% !important;
    height:200px;
  }

} /* END MOBILE RESPONSIVE < 500px */
