{% include 'templates/includes/dash_header.html' %}

<div class="dash-sidebar bg-dark">
  <img id="sb_logo" class="dash-logo" src="/assets/logo/rescueline-white.png" style="top:20px;"/>
  <div id="get_help" class="ds-item ds-active a-b no-a-b"><i class="fas fa-comment"></i><span>Get Help</span></div>
  <div id="report_hazard" class="ds-item a-b"><i class="fas fa-exclamation-circle"></i><span>Report Hazard</span></div>
  <div id="map" class="ds-item a-b"><i class="fas fa-map-marker-alt"> </i><span>Map</span></div>
  <div id="safe_place" class="ds-item a-b"><i class="fas fa-hospital"></i><span>Safe Places</span></div>
</div>

<div class="dash-container bg-light-gray pad">
  <div id="get_help_view" class="dash-view active-view">
      <h3>GET HELP</h3>
  </div>
  <div id="report_hazard_view" class="dash-view">
    <h3>REPORT HAZARD</h3>
  </div>
  <div id="map_view" class="dash-view">
    <div id="mapbox" class="wh100"></div>
  </div>
  <div id="safe_place_view" class="dash-view">
    <h3>SAFE PLACE</h3>
  </div>
</div>

<script src="/js/citizen.js"></script>
