<div class="chat-box">
  <div class="chat-history paper rounded inva mobile-hidden">
    <div class="ch-head f-med cl-light">Chat</div>
    <div class="ch-cont touch-scroll">
      <div class="ch-item ch-active a-b no-a-b">
        <div class="ch-item-pic inva"><img src="/assets/placeholder.jpg"></div>
        <div class="ch-preview inva"><span class="ch-item-name f-med">Get Help</span><br><span class="ch-msg roboto-thin cl-light-gray">Click here to get help now.</span></div>
      </div>
      <div class="ch-item a-b">
        <div class="ch-item-pic inva"><img src="/assets/placeholder.jpg"></div>
        <div class="ch-preview inva"><span class="ch-item-name f-med">Rogi Solorzano</span><br><span class="ch-msg roboto-thin cl-light-gray">Where are you at? I am on m...</span></div>
      </div>
    </div>
  </div><div class="chat-area m-w-100 inva">
    <div class="ch-head">Get Help<div class="abs cl-light-gray top-right-0"><i class="fas fa-language cp" style="margin-right:15px;"></i><i class="fas fa-ellipsis-h cp"></i></div></div>
    <div class="chat-log touch-scroll">
      <div class="chat-row"><div class="received paper">Hello, I'm here to help. What's going on?<div class="ts abs bottom-right">now</div></div></div>
    </div>
    <div class="chat-input-cont paper rounded">
      <div class="ci-i cl-light ci-mic tc cp abs top-left-0 a-b"><i class="fas fa-microphone"></i></div>
      <input class="chat-input roboto-thin"/>
      <div id="chat_send" class="ci-i ci-plane bg-light cp cl-white tc abs top-right-0"><i class="fab fa-telegram-plane"></i></div>
    </div>
  </div>
</div>
<script src="/js/chatHandler.js"></script>
