<script src="/js/dash.js"></script>

<div class="dash-header bg-dark cl-white">
  <a href="/"><img class="dash-logo v-align-abs" src="/assets/logo/rescueline-white.png"/></a>
  <i class="fas fa-bars ds-toggle v-align-abs cp"></i>
  <div class="dash-side-group">
    <i id="dh_noti" class="far fa-bell dd-toggle v-align-abs a-b f17 cp">
      <div class="alert-dot"></div><div class="dropdown" style="left:-170px;bottom:-210px;"></div>
    </i>
    <span class="inva dd-toggle">
      <div class="dh-profile v-align-abs tc">
        <img src="/assets/placeholder.jpg" style="width:100%;" />
      </div>
      <div class="dropdown signup-drop cl-med-gray roboto-thin cp" style="left:-100px;line-height:20px;height:50px;bottom:-45px;">
        <div id="logout" class="a-b"><a class="inva wh100"><i class="fas fa-sign-out-alt cl-light"></i> Logout</a></div>
      </div>
    </span>
  </div>
</div>
