<script src="/js/dash.js"></script>

<div class="dash-header bg-dark cl-white">
  <a href="/"><img class="dash-logo v-align-abs" src="/assets/logo/rescueline-white.png"/></a>
  <i class="fas fa-bars ds-toggle v-align-abs cp"></i>
  <div class="dash-side-group">
    <i id="dh_noti" class="far fa-bell dd-toggle v-align-abs a-b f17 cp">
      <div class="alert-dot"></div><div class="dropdown" style="left:-170px;bottom:-210px;"></div>
    </i>
    <div class="dh-profile dd-toggle v-align-abs tc">
      <img src="/assets/placeholder.png" style="width:100%;" />
    </div>
  </div>
</div>
