<footer class="block">
  <div class="width_wrapper">
    <div class="inva">
      <img class="footer-logo" src="/assets/logo/rescueline-grey.png"/>
    </div>
    <div class="inva">
    <div class="footer-col inva f-med-sm">
      <div class="f-c-1 inva cl-light roboto-thin">
        <div class="cl-med-gray f-med roboto">Resources</div>
        <div><a href="/dashboard">Log In</a></div>
        <div><a>About Us</a></div>
        <div><a>Blog</a></div>
        <div><a>How To</a></div>
      </div>
      <div class="f-c-2 inva cl-light roboto-thin">
        <div class="cl-med-gray f-med roboto">Get Started</div>
        <div><a href="/signup/citizen">Citizen</a></div>
        <div><a href="/signup/responder">Responder</a></div>
        <div><a href="/signup/coordinator">Coordinator</a></div>
        <div><a href="/signup/hospital">Hospital</a></div>
      </div>
    </div>
    <div class="footer-col inva f-med-sm">
      <div class="f-c-1 inva cl-light roboto-thin">
        <div class="cl-med-gray f-med roboto">Legal</div>
        <div><a>Privacy</a></div>
        <div><a>Terms</a></div>
        <div><a>Cookies</a></div>
        <div><a>Security</a></div>
      </div>
      <div class="f-c-2 inva cl-light roboto-thin">
        <div class="cl-med-gray f-med roboto">Connect</div>
        <div><a><i class="fab fa-facebook"></i></a></div>
        <div><a><i class="fab fa-twitter-square"></i></a></div>
        <div><a><i class="fab fa-google-plus-square"></i></a></div>
        <div><a><i class="fas fa-envelope"></i></a></div>
      </div>
    </div>
    </div>
  </div>
</footer>

<!-- SCRIPTS THAT WILL BE IN EVERY PAGE EXECPT -->
<script src="/js/main.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
