<header class="bg-dark">
  <div class="width_wrapper">
    <a href="/"><img class="v-align-abs" src="/assets/logo/rescueline-white.png"></a>
    <nav class="cl-white lato v-align-abs f12 bold">
      <div style="height: 40px;padding-top: 15px;" class="mobile-only"><i class="fas fa-times mobile-only cp cl-light menu_toggle"></i></div>
      <ul>
        <li class="a-b"><a class="block-a" href="/#how_it_works">How It Works</a></li>
        <li class="a-b"><a href="/#get_started">Get Started</a></li>
        <li class="a-b"><a href="#">About Us</a></li>
        <li id="nav_signup" class="a-b" style="position:relative;">
          <a href="/#get_started">Sign Up</a>
          <div id="signup_drop" class="dropdown signup-drop hidden mobile-hidden cl-med-gray roboto-thin">
            <div class="a-b"><a href="/signup/citizen" class="inva wh100"><i class="fas fa-user-shield cl-light"></i> Citizen</a></div>
            <div class="a-b"><a href="/signup/responder" class="inva wh100"><i class="fas fa-first-aid cl-light"></i> Responder</a></div>
            <div class="a-b"><a href="/signup/coordinator" class="inva wh100"><i class="fas fa-globe cl-light"></i> Coordinator</a></div>
            <div class="a-b"><a href="/signup/hospital" class="inva wh100"><i class="fas fa-hospital cl-light"></i> Hospital</a></div>
          </div>
        </li>
        <li class="bt-glass"><a href="/dashboard">Log In</a></li>
      </ul>
    </nav>
    <i class="fas fa-bars mobile-only v-align-abs cp menu_toggle"></i>
  </div>
</header>
